*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" ,sans-serif;
    
}
.contemp{
    margin: auto;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
    color: whitesmoke;

}

.contemp>h1{
    font-size: 40px;
    font-weight: 600;
    width: 500px;
    text-align: center;
    margin-bottom: 25px;

}
.links{
    position: relative;
}
.contemp>p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 600px;

}
.header > img:nth-of-type(1){
    height: 4rem;
    display: none;
}
.links2{
display: none;
}
  
.contemp2{
    margin: auto;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links > a:hover{
    text-decoration: underline;
    color: white!important;
}
section.ba{
    background-color: #000;
}
.bacont{
    margin: 70px auto;

  max-width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.templates{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "poppins", sans-serif;
}

@media (max-width:900px){
    .header > img:nth-of-type(1){
      display: block;
      cursor: pointer;
    }
    .links{
      display: none;
    }
    .media{
      display: none;
    }
    .links2{
      width: 100%;
      background-color: white;
      color: black;
      position: absolute;
      display: none;
      align-items: center;
      flex-direction: column;
      top: 100%;
    }
    .links2 > a{
      display: block;
      padding: 1rem 0px;
    }
    .contemp > h1{
        max-width: 90%;
    }
    .contemp > p{
        max-width: 90%;
    }
}